@model IList<OrderAllVM>


@{
    ViewData["Title"] = "All Orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>All Orders</h2>
        </div>
        <br>
          @if (Model.Any())
          {
              <table id="tblData" class="table">
                  <thead>
                  <tr>
                      <th>Order Id</th>
                      <th>Customer Name</th>
                      <th>Email</th>
                      <th>Order Items</th>
                      <th>Date</th>
                      <th>Location</th>
                      <th>Total Price</th>
                      <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  @foreach (var order in Model)
                  {
                      <tr>
                          <td class="align-middle" style="width: 5%">@order.OrderId</td>
                          <td class="align-middle " style="width: 20%">@order.FullName</td>
                          <td class="align-middle" style="width: 15%">@order.Email</td>
                          <td class="align-middle" style="width: 60%">
                              @foreach (var item in order.OrderItems)
                              {
                                  <li>@item.Name <br> <h6>(@item.Amount × $@item.Price)</h6> </li>
                              }
                          </td>
                          <td class="align-middle" style="width: 10%">@order.ShoppingDate.ToShortDateString()</td>
                          <td class="align-middle" style="width: 50%">@order.City, @order.Area, @order.StreetAddress</td>
                          <td class="align-middle" style="width: 5%">@order.TotalPrice.ToString("c")</td>
                          <td class="align-middle" style="width: 10%">

                          </td>
                      </tr>
                  }
                  </tbody>

                  <tfoot>

                  </tfoot>
              </table>
          }
          else
                {
                <p> No product exists.</p>
                }
        <div class="text-right">
            <div class="btn-group">
                <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">
                    Bacl to list
                </a>
            </div>
        </div>

    </div>
</div>
